@keyframes spin {
  100% {
    top: -10vh;
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
@keyframes dimToBright {
  0% {
    color: rgba(128, 0, 255, 0.3);
    width: 10vw;
    max-width: 10vh;
    height: 10vw;
    max-height: 10vh;
    border-radius: 10vw;
    box-shadow: 10vw 10vw 9vw currentColor, -10vw -10vw 9vw currentColor;
  }
  100% {
    color: rgba(128, 0, 255, 0.5);
    width: 7vw;
    max-width: 7vh;
    height: 7vw;
    max-height: 7vh;
    border-radius: 7vw;
    box-shadow: 7vw 7vw 6vw currentColor, -7vw -7vw 6vw currentColor;
  }
}

.background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1f093d;
  overflow: hidden;
}

.background span {
  backface-visibility: hidden;
  position: absolute;
  top: 110vh;
  transform-origin: 3vw 3vh;
}


.background span:nth-child(15n + 0) {
  animation: dimToBright 8s 0s infinite ease-in, spin 8s 0s infinite ease-in;
}
.background span:nth-child(15n + 1) {
  animation: dimToBright 15s 1.5s infinite ease-in, spin 15s 1.5s infinite ease-in;
}
.background span:nth-child(15n + 2) {
  animation: dimToBright 9s 1s infinite ease-in, spin 9s 1s infinite ease-in;
}
.background span:nth-child(15n + 3) {
  animation: dimToBright 14s .5s infinite ease-in, spin 14s .5s infinite ease-in;
}
.background span:nth-child(15n + 4) {
  animation: dimToBright 12s 0s infinite ease-in, spin 12s 0s infinite ease-in;
}
.background span:nth-child(15n + 5) {
  animation: dimToBright 13s .5s infinite ease-in, spin 13s .5s infinite ease-in;
}
.background span:nth-child(15n + 6) {
  animation: dimToBright 14s 1s infinite ease-in, spin 14s 1s infinite ease-in;
}
.background span:nth-child(15n + 7) {
  animation: dimToBright 12s 1.5s infinite ease-in, spin 12s 1.5s infinite ease-in;
}
.background span:nth-child(15n + 8) {
  animation: dimToBright 15s 0s infinite ease-in, spin 15s 0s infinite ease-in;
}
.background span:nth-child(15n + 9) {
  animation: dimToBright 11s 0s infinite ease-in, spin 16s 0s infinite ease-in;
}
.background span:nth-child(15n + 10) {
  animation: dimToBright 18s 0s infinite ease-in, spin 14s 0s infinite ease-in;
}
.background span:nth-child(15n + 11) {
  animation: dimToBright 28s 1.5s infinite ease-in, spin 28s 1.5s infinite ease-in;
}
.background span:nth-child(15n + 12) {
  animation: dimToBright 19s 2s infinite ease-in, spin 19s 2s infinite ease-in;
}
.background span:nth-child(15n + 13) {
  animation: dimToBright 20s 0s infinite ease-in, spin 20s 0s infinite ease-in;
}
.background span:nth-child(15n + 14) {
  animation: dimToBright 17s 0s infinite ease-in, spin 17s 0s infinite ease-in;
}


.background span:nth-child(21n) {
  left: 0%;
}
.background span:nth-child(21n + 1) {
  left: 5%;
}
.background span:nth-child(21n + 2) {
  left: 10%;
}
.background span:nth-child(21n + 3) {
  left: 15%;
}
.background span:nth-child(21n + 4) {
  left: 20%;
}
.background span:nth-child(21n + 5) {
  left: 25%;
}
.background span:nth-child(21n + 6) {
  left: 30%;
}
.background span:nth-child(21n + 7) {
  left: 35%;
}
.background span:nth-child(21n + 8) {
  left: 40%;
}
.background span:nth-child(21n + 9) {
  left: 45%;
}
.background span:nth-child(21n + 10) {
  left: 50%;
}
.background span:nth-child(21n + 11) {
  left: 55%;
}
.background span:nth-child(21n + 12) {
  left: 60%;
}
.background span:nth-child(21n + 13) {
  left: 65%;
}
.background span:nth-child(21n + 14) {
  left: 70%;
}
.background span:nth-child(21n + 15) {
  left: 75%;
}
.background span:nth-child(21n + 16) {
  left: 80%;
}
.background span:nth-child(21n + 17) {
  left: 85%;
}
.background span:nth-child(21n + 18) {
  left: 90%;
}
.background span:nth-child(21n + 19) {
  left: 95%;
}
.background span:nth-child(21n + 20) {
  left: 100%;
}