@import "tailwindcss";

@layer base {
  /* Light mode */
  :root {
    --background: #ffffff;
    --foreground: #acacac;

    --card: #f9fafb;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --primary: #2563eb;
    --primary-foreground: #ffffff;

    --secondary: #64748b;
    --secondary-foreground: #ffffff;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #facc15;
    --accent-foreground: #0f172a;

    --border: #e5e7eb;
    --border-alt: #000000;
    --input: #e5e7eb;
    --ring: #2563eb;

    --radius: 0.5rem;

    --divider: #bdbdbd;

    --link: #2563eb;
    --link-hover: #1e40af;

    --card-bg: #ffffff;
    --card-border: #303030;
    --card-text: #000000;

    --alt-card-bg: #e3e3e3;
    --alt-card-border: #e3e3e3;
    --alt-card-text: #000000;

    --text: #000000;
    --text-disabled: #646464;
    --text-hover: #2e2e2e;

    --map-toolbar: #c4cedf;
    --map-toolbar-icon: #000000;
    --map-toolbar-icon-hover: #2d459a;
    --map-toolbar-icon-bg: #c7d2e7;
    --map-toolbar-icon-bg-hover: #c7d2e7;

    --theme-toggle-border: #000000;

    --table-row-hover: #c2d5e7;

    --button-default-bg: #9dd1ff;
    --button-default-bg-hover: #abd8ff;
    --button-default-text: #000000;

    --button-secondary-bg: #646464;
    --button-secondary-bg-hover: #898989;
    --button-secondary-text: #ffffff;

    --button-link: #027ac5;
    --button-link-hover: #51a3d6;

    --button-destructive-bg: #a10000;
    --button-destructive-bg-hover: #c90909;
    --button-destructive-text: #ffffff;

    --button-outline: #000000;

    --select-text: #000000;
    --select-bg: #ffffff;
    --select-bg-hover: #e8fdfd;
    --select-separator: #000000;
  }

  .dark {
    --background: #000000;
    --foreground: #4b4b4b;

    --card: #111827;
    --card-foreground: #f8fafc;

    --popover: #111827;
    --popover-foreground: #f8fafc;

    --primary: #60a5fa;
    --primary-foreground: #0b0f19;

    --secondary: #1f2937;
    --secondary-foreground: #f8fafc;

    --muted: #1f2937;
    --muted-foreground: #94a3b8;

    --accent: #eab308;
    --accent-foreground: #0b0f19;

    --border: #1f2937;
    --border-alt: #bcbcbc;
    --input: #1f2937;
    --ring: #60a5fa;

    --radius: 0.5rem;

    --divider: #6b6b6b;

    --link: #3b82f6;
    --link-hover: #60a5fa;

    --card-bg: #000000;
    --card-border: #626262;
    --card-text: #ffffff;

    --alt-card-bg: #444444;
    --alt-card-border: #444444;
    --alt-card-text: #ffffff;

    --text: #ededed;
    --text-disabled: #b5b5b5;
    --text-hover: #ffffff;

    --map-toolbar: #393939;
    --map-toolbar-icon: #ffffff;
    --map-toolbar-icon-hover: #bfccfd;
    --map-toolbar-icon-bg: #393939;
    --map-toolbar-icon-bg-hover: #393939;

    --theme-toggle-border: #ffffff;

    --table-row-hover: #3f454b;

    --button-default-bg: #373737;
    --button-default-bg-hover: #2a3743;
    --button-default-text: #ffffff;

    --button-secondary-bg: #e4e4e4;
    --button-secondary-bg-hover: #a0a0a0;
    --button-secondary-text: #000000;

    --button-link: #d6edfb;
    --button-link-hover: #a0daff;

    --button-destructive-bg: #a10000;
    --button-destructive-bg-hover: #c90909;
    --button-destructive-text: #ffffff;

    --button-outline: #ffffff;

    --select-text: #ffffff;
    --select-bg: #000000;
    --select-bg-hover: #42525c;
    --select-separator: #7e7e7e;
  }

  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: var(--foreground);
  }

  a {
    color: var(--accent);
    font-weight: 500;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.85;
  }

  button {
    font-family: inherit;
    border-radius: var(--radius);
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  button:hover {
    filter: brightness(0.95);
  }

  input,
  textarea,
  select {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 0.5rem;
    background-color: var(--background);
    color: var(--foreground);
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.cesium-viewer-bottom {
  display: none !important;
}

.cesium-credit-container {
  display: none !important;
}
