@import "tailwindcss";

@layer base {
  /* Light mode */
  :root {
    --background: #ffffff;
    --foreground: #111827;

    --primary: #2563eb;
    --primary-foreground: #ffffff;

    --secondary: #64748b;
    --secondary-foreground: #3f4751;

    --accent: #facc15;
    --accent-foreground: #111827;

    --border: #e5e7eb;
    --ring: #2563eb;
    --radius: 0.5rem;

    --divider: #bdbdbd;

    --link: #2563eb;
    --link-hover: #1e40af;

    --card-background: #f9fafb;
    --card-foreground: #111827;
    --card-border: #e5e7eb;

    --map-toolbar: #c4cedf;
    --map-toolbar-icon: #000000;
    --map-toolbar-icon-hover: #2d459a;
    --map-toolbar-icon-bg: #c7d2e7;
    --map-toolbar-icon-bg-hover: #c7d2e7;

    --theme-toggle-border: #000000;
  }

  /* Dark mode */
  .dark {
    --background: #1a1a1a;
    --foreground: #f5f5f5;

    --primary: #60a5fa;
    --primary-foreground: #1a1a1a;

    --secondary: #94a3b8;
    --secondary-foreground: #f5f5f5;

    --accent: #eab308;
    --accent-foreground: #1a1a1a;

    --border: #374151;
    --ring: #60a5fa;
    --radius: 0.5rem;

    --divider: #6b6b6b;

    --link: #3b82f6;
    --link-hover: #60a5fa;

    --card-background: #000000b9;
    --card-foreground: #f5f5f5;
    --card-border: #374151;

    --map-toolbar: #393939;
    --map-toolbar-icon: #ffffff;
    --map-toolbar-icon-hover: #bfccfd;
    --map-toolbar-icon-bg: #393939;
    --map-toolbar-icon-bg-hover: #393939;

    --theme-toggle-border: #ffffff;
  }
}

/* Global styles using variables */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  margin: 0;
  transition:
    background-color 0.3s,
    color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: hsl(var(--foreground));
}

a {
  color: hsl(var(--accent));
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  opacity: 0.85;
}

button {
  font-family: inherit;
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
  /* background-color: hsl(var(--primary)); */
  /* color: hsl(var(--primary-foreground)); */
}
button:hover {
  filter: brightness(0.9);
}

input,
textarea,
select {
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  padding: 0.5rem;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.mapboxgl-ctrl > .mapboxgl-ctrl-logo {
  display: none;
}
